$color: #7d47bd;
$background: #27272f;
$white: #fff;

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff !important;
}

.public-nav {
  display: flex;
  .public-nav-item {
    margin-left: 16px;
    white-space: nowrap;
  }
}

.govt-logo {
  width: 50%;
  margin: 8% 0;
  align-self: center;
  object-fit: contain;
}
.teacher-logo {
  width: 100%;
}
.district-graph-container {
  display: flex;
  width: 100%;
  // height: 40vh;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .district-graph-card {
    // width: 46%;
    // margin: 2%;
    margin: 16px;
    .district-name {
      margin-top: 16px;
      text-align: center;
    }
    .district-graph {
      // height: 40vh;
      padding: 16px;
      display: flex;
      width: 100%;

      // height: 100%;
      // width: 100%;
    }
    // background-color: #c1c1c1;
  }
}
.mainbar {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-bar {
    height: 9vh;
  }
  .mainbar-content {
    overflow-y: auto;
    padding: 16px;
    height: 91vh;
  }
  .mainbar-content:not(.view-report) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.message-container {
  // background-color: #c1c1c1;
  display: flex;
  width: 100%;

  border-radius: 4px;
  margin: 16px 8px;
  // flex: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

  .message-icon {
    display: flex;
    align-self: center;
    margin: 0 16px;
    svg {
      height: 48px;
      width: 48px;
    }
  }
  padding: 16px 16px 16px 0;
  .message-body {
    flex: 1;
    // width: 72%;
    display: flex;
    // flex-grow: 1;
    flex-direction: column;
    .posted-by {
      color: #000;
      // font-weight: bold;
      font-size: 1.2rem;
    }
    .message {
      font-size: 0.8rem;
      color: #000;
      flex: 1;
      margin-top: 8px;
      overflow-wrap: anywhere;
    }
    .message-action {
      display: flex;
      // margin-top: 8px;
      justify-content: flex-end;
      align-items: flex-end;
      // flex-direction: column;
      svg {
        margin: 4px;
        cursor: pointer;
      }
    }
  }
}
.MuiAppBar-colorPrimary {
  background-color: #fff !important;
  color: #000 !important;
}
.MuiListItem-button.Mui-selected {
  background-color: #fff !important;
  color: $color !important;
  .MuiListItemIcon-root {
    color: $color !important;
  }
}
.MuiTypography-root {
  font-family: "Montserrat", sans-serif !important;
}
.MuiDivider-root {
  background-color: #fff !important;
  height: 0.2px !important;
  margin: 0 8% !important;
}
.MuiListItemText-root.sidebar-item-text {
  .MuiTypography-root {
    font-family: "Rowdies", cursive !important;
    text-transform: uppercase !important;
    font-size: 0.8rem !important;
  }
}
.MuiListItemText-root.sidebar-role {
  .MuiTypography-root {
    font-family: "Rowdies", cursive !important;
    text-align: center;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
  }
}
.MuiListItemIcon-root {
  color: #fff !important;
}
.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // width: 50%;
  .profile-avatar {
    align-self: center;
    width: 40%;
    height: 40%;
  }
  .profile-entity-holder {
    display: flex;
    // padding: 16px;
    justify-content: center;
    // flex-direction: column;
    margin: 8px;
    .profile-entity {
      flex: 1;
      padding: 8px 32px;
      // text-align: center;
    }
    .profile-entity:nth-child(1) {
      font-style: italic;
      text-align: right;
      color: $color;
    }
    .profile-entity:nth-child(2) {
      font-weight: bold;
      text-align: start;
    }
  }
}
.indicator-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // flex-direction: column;
  // height: 50%;
  width: 100%;
  justify-content: center;
}
.indicator-card {
  margin: 8px 24px;
  width: 15%;
  display: flex;
  flex-direction: column;
  .indicator-category {
    align-self: center;
    white-space: nowrap;
  }
}
.visit-report-page {
  display: flex;
  height: 100%;
  .graph {
    height: 100%;
    flex: 4;
  }
  .data-list-container {
    flex: 3;
    padding: 16px;
    background-color: transparent;
    text-align: center;
    overflow-y: auto;
  }
}
.data-list {
  display: flex;
  flex-direction: column;
}
.category-data-accordion {
  margin: 8px;
}
.category-indicator {
  margin-right: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.post-category {
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
  background-color: $color;
  color: $white;
  padding: 4px 8px;
  border-radius: 8px;
}
.italic {
  font-style: italic;
  color: #000;
}
.modal-input {
  width: 100%;
  margin-bottom: 16px !important;
}

.container {
  height: 100%;
  display: flex;
  overflow-y: auto;
  // background-color: #c1c1c1;
  .content {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex: 1;
    .progress-image {
      width: 20%;
    }
  }
}
