$color: #003171;
$background: #27272f;
$white: #fff;

.mainbar {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-bar {
    height: 9vh;
  }
  .mainbar-content {
    overflow-y: auto;
    padding: 16px;
    height: 91vh;
  }
}

.container {
  height: 100%;
  display: flex;
  // background-color: #c1c1c1;
  .content {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex: 1;
    .progress-image {
      width: 20%;
    }
  }
}
